.features {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
} 

.feature {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    
    &:hover {
        transform: translateY(-5px) scale(1.05);
    }
    
    h3 {
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
        letter-spacing: 0.01em;
    }

    .feature-skeleton {
        margin-bottom: 1rem;
        height: 100%;
    }

}
