.landing-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 3rem;
    width: 100%;
    position: relative;

    @media (min-width: 1024px) {
        gap: 5rem;
    }

    .pokemon-color-stripe-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .pokemon-color-stripe{
        height: 32px;
        width: 100%;
    }

    .footer-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.2;

            @media (min-width: 768px) {
                font-size: 3rem;
            }

            @media (min-width: 1024px) {
                font-size: 4rem;
            }
        }

        p {
            font-size: 1rem;
            letter-spacing: 0.01em;
            padding: 0 1rem;
        }

        button {
            width: fit-content;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 1.5rem;
            padding: 12px 24px;
            border-radius: 0.5rem;
            border: none;
            cursor: pointer;
            background-color: #fff941;
            color: #1A1A1A;
            transition: background-color transform 0.1s ease-out;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 15px rgba(0, 0, 0, 0.05);

            @media (min-width: 1024px) {
                font-size: 1.2rem;
            }

            &:hover {
                background-color: #fffb7c;
            }

            &:active {
                transform: translateY(1px);
            }
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
            gap: 15%;
        }

        @media (min-width: 1024px) {
            gap: 30%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @media (min-width: 768px) {
                align-items: start;
            }

            h3 {
                font-size: 1.1rem;
                font-weight: bold;

                @media (min-width: 1024px) {
                    font-size: 1rem;
                }
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;        
                gap: 0.75rem;

                @media (min-width: 768px) {
                    align-items: start;
                    gap: 0.5rem;
                }

                li {
                    a {
                        text-decoration: none;
                        color: var(--font-color);
                        font-size: 16px;
                        opacity: 80%;
                        letter-spacing: 0.01em;
                        transition: text-decoration 0.1s ease-out;

                        @media (min-width: 1024px) {
                            font-size: 14px;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .footer-copyright {
        font-size: 12px;
        margin-top: 1rem;
        opacity: 0.6;
        letter-spacing: 0.01em;
        text-align: center;

        @media (min-width: 1024px) {
            margin-top: 2rem;
        }
    }
}