@use "../../styles/variables.scss" as v;

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;

    @media (min-width: 1024px) {
        flex-direction: row;
        padding-bottom: 0;
        height: calc(100vh - 64px); 
        min-height: auto; 
        width: 100%;
    }
}

.hero-content {
    display: flex;
    height: auto; 
    width: 100%; 
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    text-align: center;
    align-items: center; 

    @media (min-width: 1024px) {
        width: 60%;
        height: 100%;
        text-align: left;
        align-items: flex-start;
    }


    h1 {
        font-size: 2.5rem; 
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: 3.5rem;
        }

        @media (min-width: 1024px) {
            font-size: 4.5rem;
        }

        span {
            font-family: v.$primary-font;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 15px rgba(0, 0, 0, 0.05);
        }
    }

    p {
        font-size: 1rem;
        max-width: 600px;

        @media (min-width: 1024px) {
            font-size: 1.2rem;
        }
    }

    button {
        width: fit-content;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 1.5rem;
        padding: 12px 24px;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        background-color: #fff941;
        color: #1A1A1A;
        transition: background-color transform 0.1s ease-out;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 15px rgba(0, 0, 0, 0.05);

        @media (min-width: 1024px) {
            font-size: 1.2rem;
        }

        &:hover {
            background-color: #fffb7c;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.hero-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px; 

    @media (min-width: 1024px) {
        width: 40%;
        height: 100%;
    }
}