@use "../../styles/variables.scss" as v;

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;


    h1 {
        font-size: 5rem;    
        span{
            font-family: v.$primary-font;
        }
    }

    p {
        font-size: 1.2rem;
    }

    button {
        width: fit-content;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        background-color: #fff941;
        color: #1A1A1A;
        transition: background-color transform 0.1s ease-out;
        &:hover {
            background-color: #fffb7c;
        }
        &:active {
            transform: translateY(1px);
        }
    }
}