@use "../../styles/variables.scss" as v;

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;


    h1 {
        font-size: 4.5rem;

        span {
            font-family: v.$primary-font;
        }
    }

    p {
        font-size: 1.2rem;
    }

    button {
        width: fit-content;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1.5rem;
        padding: 12px 24px;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        background-color: #fff941;
        color: #1A1A1A;
        transition: background-color transform 0.1s ease-out;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 15px rgba(0, 0, 0, 0.05);

        &:hover {
            background-color: #fffb7c;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

.hero-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}