.landingPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #FFFBE7;
    color: #E2E2E2;
    font-size:1.5rem ;
}

.mainLandingContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.landingPageContent h1{
    font-size: 4rem;
    color: #FCFF5F;
    text-shadow:
    -3px -3px 0 #1E3A9F,
     3px -3px 0 #1E3A9F,
    -3px  3px 0 #1E3A9F,
     3px  3px 0 #1E3A9F;
    margin: 1rem;
    animation-delay: 0.2s;
}

.landingPageContent ul{
    margin: 1rem;
}
.landingPageContent li{
    list-style-type: none;
    font-weight: bold;
    color: white;
    text-shadow:
    -1.5px -1.5px 0 black,
     1.5px -1.5px 0 black,
    -1.5px  1.5px 0 black,
     1.5px  1.5px 0 black;
}

.landingPageContent span{
    color: #FCFF5F;
    font-size: 1.8rem;
    text-shadow:
    -1.5px -1.5px 0 #1E3A9F,
     1.5px -1.5px 0 #1E3A9F,
    -1.5px  1.5px 0 #1E3A9F,
     1.5px  1.5px 0 #1E3A9F;
}

.loginOptions{
    border: none;
    margin: 1.5rem 0;
    width: 12rem;
    height: 4rem;
    font-size: 1.5rem;
    color: #E2E2E2;
    font-weight: bold;
    font-family: 'VT323';
    border-radius: 13px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.landingPageContent p{
    margin: 1rem;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     animation-delay: 0.9s;
}

.landingPageContent footer{
    padding: 0.5rem;
    color: black;
    font-size: 1rem;
    animation-delay: 1.1s;
}

.loginOptions:hover{
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.fade-in {
  opacity: 0;
  animation: fadeInAnim 0.5s ease-out forwards;
  transform: translate3d(0,0,0);
}

.sign-up-button{
    border: none;
    padding: 0;
    background: transparent;
    font-family: 'VT323';
    font-size: 1.5rem;
    color: #E2E2E2;
    text-decoration: underline;
    font-family: 'VT323';
    border-radius: 13px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     animation-delay: 0.9s;
}

@media (max-width:768px){
    .landingPageContent{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.5rem;
    }

    .landingPageContent footer{
    padding: 5px;
    color: black;
    }

    .landingPageContent h1{
    font-size: 2.5rem;
    margin: 2rem;
    }

    .landingPageContent span{
    color: #FCFF5F;
    font-size: 1.6rem;
    }

    .loginOptions{
        margin: 1.2rem 0;
        width: 10rem;
        height: 3rem;
    }

    .landingPageContent li{
        margin: 5px;
    }
}


@media (max-width:1024px){
    .landingPageContent{
        background-size: cover;
    }
}

@keyframes fadeInAnim {
  from { 
    opacity: 0; 
    transform: translate3d(0, 10px, 0); 
  }
  to { 
    opacity: 1; 
    transform: translate3d(0, 0, 0); 
  }
}