@use "../../styles/mixins" as m;
@use "../../styles/variables.scss" as v;
@use "sass:list";

.lp-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: v.$secondary-font;
  background-color: var(--bg-color);
  color: var(--font-color);

  section {
    width: 100%;
  }
}

.lp-header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--card-bg-color);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.03);

  h1 {
    font-family: v.$primary-font;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #f3d617;
    text-shadow:
      -2px -2px 0 #4370f4,
      2px -2px 0 #4370f4,
      -2px 2px 0 #4370f4,
      2px 2px 0 #4370f4;
  }

  button {
    border: none;
    background-color: var(--font-color);
    cursor: pointer;
    color: var(--bg-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color opacity transform 0.1s ease-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}