.landingPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #FFFBE7;
    color: #0a0a0a;
    font-size:1.5rem ;
}

.mainLandingContent{
    display: flex;
    height: 100%;
}

.landingPageContent h1{
    font-size: 4rem;
    color: #FCFF5F;
    text-shadow:
    -3px -3px 0 #1E3A9F,
     3px -3px 0 #1E3A9F,
    -3px  3px 0 #1E3A9F,
     3px  3px 0 #1E3A9F;
    margin: 1rem;
    animation-delay: 0.2s;
}

.landingPageLeft{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingPageRight{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.illustrations{
    position: relative;
    display: flex;
    justify-content: center;
}

.paletteIllustration{
    width: 500px;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
}

.spriteIllustration{
    position: absolute;
    width: 400px;
    padding: 0;
    margin: 0;
    top: 30%;
    left: 45%;
    bottom: 0%;
    right: 0%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
}