@use "../../styles/mixins" as m;
@use "../../styles/variables.scss" as v;
@use "sass:list";

.lp-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: clamp(16px, 30vw, 50px);
  font-family: v.$secondary-font;
  background-color: var(--bg-color);
  color: var(--font-color);
  gap: 24px;
  min-height: calc(100vh - 70px);
}

.lp-image {
  width: 100%;
  display: flex;
}

.lp-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .lp-image--primary {
    width: clamp(300px, 50vw, 500px);
    border-radius: 0.5rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  }
  .lp-image--secondary {
    width: clamp(160px, 30vw, 480px);
    position: absolute;
    top: clamp(50%, 5vw, 60%);
    left: 50%;
  }
}

.lp-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: clamp(1rem, 3vw, 2rem);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  .lp-title {
    font-family: v.$primary-font;
    margin: clamp(2rem, 4vw, 4rem) 0px;
    font-size: clamp(2rem, 5vw, 6rem);

    $stylized-text-colors: #f4d03c, #a34b08, #2c1c0e, #44444c, #dc9404, #e45c44;

    .lp-title--stylized {
      @for $i from 1 through list.length($stylized-text-colors) {
        span:nth-child(#{$i}) {
          color: list.nth($stylized-text-colors, $i);
        }
      }
    }
  }

  .lp-subtitle {
    font-family: v.$primary-font;
    margin-bottom: clamp(2rem, 3vw, 3rem);
  }
}

.lp-actions {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 1.5rem);
  margin-top: clamp(2rem, 3vw, 3rem);

  button {
    border: none;
    cursor: pointer;
    color: var(--font-color);
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: clamp(0.7rem, 2vw, 1rem) clamp(1rem, 3vw, 1.5rem);
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }

  .lp-actions--primary {
    background-color: var(--font-color);
    color: var(--bg-color);
    font-family: v.$primary-font;
  }

  .lp-actions--secondary {
    background-color: transparent;
    font-family: v.$secondary-font;
    border: 2px solid var(--font-color);
  }
}

.lp-list-wrapper {
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 3vw, 1.5rem);

  .lp-list {
    list-style: none;
    margin-top: clamp(2rem, 4vw, 3rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 1.5rem);

    .lp-list--item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

@media (min-width: 1024px) {
  // .lp-container{
  //     height: ;
  // }

  .lp-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .lp-image-container {
    justify-content: end;
    .lp-image--primary {
      width: 60%;
    }
    .lp-image--secondary {
      width: 30%;
    }
  }

  .lp-text {
    width: 40%;
    gap: 1rem;

    .lp-title {
      font-size: 2.5rem;
      margin: 0;
    }

    .lp-subtitle {
      font-size: 1rem;
    }
  }

  .lp-list-wrapper {
    font-size: 1rem;

    .lp-list {
      margin-top: 0;
      gap: 1rem;
    }
  }

  .lp-actions {
    margin-top: 2rem;
    gap: 1rem;

    button {
      padding: 0.5rem 1.2rem;
      font-size: 1rem;
    }
  }
}
