.pokeEntry{
    display: flex;
}

.pokeImage{
    height: 100vh;
    padding: 10px;
    padding: 12px;
}

.pokeName{
    display: flex;
    gap: 12px;
    font-weight: bold;
    font-size: 1.5rem;
}

.typeContainer{
    display: flex;
    gap: 12px;
}

.sprites-container{
    display: flex;
    justify-content: space-around;
}

.pokeData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 44px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.moveSet{
    display: flex;
    flex-direction: column;
    height: 320px;
    overflow-y:auto;
    scrollbar-width: none;
    border: 5px solid yellow;
    padding: 4px;
    border-radius: 19px;
}

.moveButton{
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: 2px;
    padding: 4px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #f2eaea
}