@use "../../styles/variables.scss" as v;

.pokecard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  position: relative;
  background-color: var(--bg-color);

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    position: relative;
  }
}

.pc-action {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: clamp(90px, 15vw, 120px);
  gap: 16px;
  background-color: var(--bg-color);
  opacity: 1;
  align-items: center;
  padding: 0px clamp(8px, 3vw, 32px);
  font-family: inherit;
  flex-shrink: 0;

  span {
    display: flex;
    justify-content: space-between;
    gap: clamp(2px, 5vw, 24px);
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: v.$primary-font;
    border: none;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.01) translateY(-1px);
      transition: all 0.1s ease-in;
    }

    &:focus {
      transition: all 0.1s ease-in;
      border: 1px solid var(--accent-dark);
      transform: scale(1.01) translateY(-1px);
    }
    &:active {
      transform: translateY(0px) scale(0.99);
      filter: brightness(0.9);
    }
  }

  .pc-action--primary {
    height: 40%;
    width: 40%;
    background-color: var(--accent-dark);
    border-radius: 8px;
    color: var(--accent-light);
    letter-spacing: 2%;
    box-shadow: var(--shadow-button);
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 600;
  }

  .pc-action--secondary {
    background: none;
    max-width: clamp(32px, 10vw, 45px);
    max-height: clamp(32px, 10vw, 40px);
    border: 2px solid var(--accent-dark);
    border-radius: 50%;
    padding: 8px;
    color: var(--accent-dark);
    box-shadow: var(--shadow-button);
  }
}

@media (min-width: 1024px) {
  .pc-action {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 100px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(236, 236, 236, 0.35);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

    span {
      justify-content: center;
      gap: 16px;
    }

    .pc-action--secondary {
      background: var(--accent-dark);
      border: none;
      color: var(--accent-light);
      opacity: 0.9;
    }
  }
}
