// .pokeEntry{
//     display: flex;
//     width: 100%;
//     transition: 0.3s ease-in-out background-color;
//     background-color: var(--background-color);
//     color: var(--pokemon-entry-color);
//     overflow-y:auto;
//     font-size: 1.4rem;
//     border-radius: 20px;
//     padding: 10px;
//     margin: 10px;
//     border: 3px solid;
// }

// .pokeImage{
//     display: flex;
//     flex-direction: column;
//     padding: 12px;
//     padding-left: 2rem;
//     width: 100%;
// }

// .pokeImgHeader{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .pokeName{
//     display: flex;
//     gap: 12px;
//     font-weight: bold;
//     font-size: 1.8rem;
// }

// .typeContainer{
//     display: flex;
//     gap: 12px;
// }

// .pokeImgContent{
//     display: flex;
//     gap: 12px;
//     justify-content: space-between;
// }

// .default-img{
//     margin-top: 1rem;
//     width: 380px;
//     height: 380px;
// }

// .sprites-container{
//     display: flex;
//     justify-content: space-between;
//     flex-direction: column;
// }

// .pokeDes{
//     margin-top: 1rem;
//     font-size: 1.6rem;
//     height: 100%;
//     border-radius: 20px;
//     padding: 10px;
//     box-shadow: 
//     0 0 0 3px rgba(248, 201, 201, 0.8),
//     0 0 0 4px rgba(250, 134, 134, 0.701),
//     0 0 0 6px rgba(251, 76, 76, 0.821),
//     0 0 0 8px rgba(251, 6, 6, 0.852);
// }

// .pokeData{
//     display: flex;
//     width: 100%;
//     flex-direction: column;
//     justify-content: center;
//     font-family: "VT323", monospace;
//     padding: 12px;
//     padding-left: 2rem;
// }

// .data{
//     display: flex;
//     flex-direction: column;
// }

// ul{
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// .moveSet{
//     display: flex;
//     flex-direction: column;
//     flex: 0 0 1;
//     overflow-y:auto;
//     scrollbar-width: none;
//     padding: 8px;
//     border-radius: 20px;
//     background-color: var(--menu-color);
//     box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35);
// }

// .moveButton{
//     display: flex;
//     justify-content: center;
//     margin: 2px;
//     padding: 4px;
//     border: 2px solid #000000;  
//     border-radius: 10px;
//     font-weight: bolder;
//     background-color: var(--background-color);
//     font-family: "VT323", monospace;
//     font-size: 1.2rem;
//     color: var(--pokemon-entry-color);
// }
    
// .moveButton:hover{
//     background-color: var(--button-secondary-bg);
//     border: 2px solid var(--button-secondary-border);
//     color: white;
//     transform: scale(1.023) translateY(-1.6px);
//     transition: all 0.3s ease-in;
//     box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35);
// }

// .stats,.abilites{
//     display: flex;
//     align-items: start;
//     gap: 17px;
//     margin-top: 5px;
//     margin-bottom: 19px;
// }

// .loading-div{
//     height: 100%;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 2rem;
//     background-color: var(--background-color);
//     color: var(--pokemon-entry-color);
//     overflow-y:auto;
//     font-size: 1.4rem;
//     border-radius: 20px;
//     padding: 10px;
//     margin: 10px;
//     border: 3px solid;
// }

// .loading-div img{
//     filter: brightness(0);
//     height: 500px;
//     width: auto;
// }

// @media (max-width:768px) {
//     .pokeEntry{
//         flex-direction: column;
//         margin-top: 60px;
//     }

//     .pokeImage{
//         min-height: 500px;
//         padding-left: 12px;
//         margin-bottom: 0;
//     }

//     .pokeData{
//         flex-direction: row;
//         justify-content: space-between;
//         font-size: 2rem;
//         gap: 22px;
//         padding-left: 12px;
//     }

//     .moveSet{
//         max-height:500px;
//         flex: 1;
//     }

// }

// @media (max-width:450px) {
//     .pokeData{
//         font-size: 1.3rem;
//     }

//     .moveSet{
//         max-height: 320px;
//     }

//     .moveButton{
//         font-size: 1rem;
//     }
// }

// @media (max-width:390px) {
//     .sprites-container{
//         display: flex;
//         flex-wrap: wrap;
//         width: 300px;
//     }

//     .pokeData{
//         font-size: 1.1rem;
//     }

//     .moveButton{
//         font-size: 1rem;
//     }
// }

@use '../../styles/variables.scss' as v;


.pokecard{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    position: relative;
    background-color: #ECECEC;

    main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
        position: relative;
    }
}

.pc-action{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: clamp(90px, 15vw, 120px);
    gap: 16px;
    background-color: #ECECEC;
    opacity: 1;
    align-items: center;
    padding: 0px clamp(8px, 3vw, 32px);
    font-family: inherit;
    flex-shrink: 0;

    span{
        display: flex;
        justify-content: space-between;
        gap: clamp(2px, 5vw, 24px);
        align-items: center;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: v.$primary-font;
        border: none;
    }

    .pc-action--primary{
        height: 40%;
        width: 40%;
        background-color: #000000;
        border-radius: 8px;
        color: rgb(241, 241, 241);
        letter-spacing: 2%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        font-size: clamp(1rem, 2vw, 1.3rem);
    }

    .pc-action--secondary{
        background: none;
        max-width: clamp(32px, 10vw, 45px);
        max-height: clamp(32px, 10vw, 40px);;
        border: 2px solid #000000;
        border-radius: 50%;
        padding: 8px;
        color: #000000;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    }
}

@media(min-width:1024px){


    .pc-action{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: auto;
        height: auto;
        padding: 8px;
        border-radius: 100px;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid rgba(0, 0, 0, 0.15);
        background-color: rgba(236, 236, 236, 0.35);
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);


        span{
            justify-content: center;
            gap: 16px;
        }

        .pc-action--secondary{
        background: rgb(189, 189, 189);
        border: none;
        color: #313131;
        }
    }
}