.pokeEntry{
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color);
    color: var(--pokemon-entry-color);
}

.pokeImage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 12px;
    padding-left: 2rem;
}

.pokeImgHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokeName{
    display: flex;
    gap: 12px;
    font-weight: bold;
    font-size: 1.8rem;
}

.typeContainer{
    display: flex;
    gap: 12px;
}

.default-img{
    margin-top: 1rem;
}

.sprites-container{
    display: flex;
    justify-content: space-between;
}

.pokeData{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-family: "VT323", monospace;
    font-size: 1.4rem;
    padding: 12px;
    padding-left: 2rem;
    height: 100vh;
}

.data{
    display: flex;
    flex-direction: column;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.moveSet{
    display: flex;
    flex-direction: column;
    flex: 0 0 1;
    overflow-y:auto;
    scrollbar-width: none;
    border: 8px solid var(--menu-color);
    padding: 8px;
    border-radius: 19px;
    background-color: var(--menu-color);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
}

.moveButton{
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 4px;
    border: 2px solid #000000;  
    border-radius: 10px;
    font-weight: bolder;
    background-color: var(--secondary-bg-color);
    font-family: "VT323", monospace;
    font-size: 1.2rem;
    color: var(--options-color);
}
    
.moveButton:hover{
    background-color: var(--button-secondary-bg);
    border: 2px solid var(--button-secondary-border);
    color: white;
    transform: scale(1.023) translateY(-1.6px);
    transition: all 0.3s ease-in;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35);
}

.stats,.abilites{
    display: flex;
    align-items: start;
    gap: 17px;
    margin-top: 5px;
    margin-bottom: 19px;
}

@media (max-width:768px) {
    .pokeEntry{
        flex-direction: column;
    }

    .pokeImage{
        min-height: 500px;
        padding-left: 12px;
        margin-bottom: 0;
    }

    .pokeData{
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        gap: 22px;
        padding-left: 12px;
    }

    .moveSet{
        max-height:500px;
        flex: 1;
    }

}

@media (max-width:450px) {
    .pokeData{
        font-size: 1.3rem;
    }

    .moveSet{
        max-height: 320px;
    }

    .moveButton{
        font-size: 1rem;
    }
}

@media (max-width:390px) {
    .sprites-container{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }

    .pokeData{
        font-size: 1.1rem;
    }

    .moveButton{
        font-size: 1rem;
    }
}
