.pokeEntry{
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: var(--background-color);
    color: var(--pokemon-entry-color);
}

.pokeImage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 12px;
    padding-left: 2rem;
}

.pokeImgHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokeName{
    display: flex;
    gap: 12px;
    font-weight: bold;
    font-size: 1.8rem;
}

.typeContainer{
    display: flex;
    gap: 12px;
}

.default-img{
    margin-top: 1rem;
}

.sprites-container{
    display: flex;
    justify-content: space-around;
}

.pokeData{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-family: "VT323", monospace;
    font-size: 1.4rem;
    padding: 12px;
    padding-left: 2rem;
    height: 100vh;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.moveSet{
    display: flex;
    flex-direction: column;
    flex: 0 0 1;
    overflow-y:auto;
    scrollbar-width: none;
    border: 8px solid var(--menu-color);
    padding: 8px;
    border-radius: 19px;    
}

.moveButton{
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 4px;
    border: 2px solid #000000;  
    border-radius: 10px;
    font-weight: bolder;
    background-color: var(--secondary-bg-color);
    font-family: "VT323", monospace;
    font-size: 1.2rem;
    color: var(--options-color);
}
    
.moveButton:hover{
    background-color: var(--button-secondary-bg);
    border: 2px solid var(--button-secondary-border);
    color: white;
    transform: scale(1.023) translateY(-1.6px);
    transition: all 0.3s ease-in;
}

.stats,.abilites{
    display: flex;
    align-items: start;
    gap: 17px;
    margin-top: 5px;
    margin-bottom: 19px;
}
