*{
    box-sizing: border-box;
}

.sidenav{
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 0;
    padding: 10px;
    background-color: var(--menu-color);
    color: var(--pokemon-entry-color);
    transition: 0.3s ease-in-out background-color;
}

.sidenav.hidden {
  display: none;
}

.scrollPoke{
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.nav-button{
    display: flex;
    gap: 35%;
    margin: 2px;
    border: 2px solid #000000;
    border-radius: 19px;
    font-weight: bolder;
    background-color: var(--background-color);
    font-family: "VT323", monospace;
    font-size: larger;
    color: var(--pokemon-entry-color);
}

.nav-button:hover{
    background-color: var(--button-primary-hover);
    border: 2px solid var(--button-primary-border);
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25); 
}

.nav-button-selected{
    display: flex;
    gap: 35%;
    margin: 2px;
    border: 2px solid var(--button-primary-border);   
    border-radius: 19px;
    font-weight: bolder;    
    background-color:var(--button-primary-bg);
    color: white;
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35); 
}

.nav-button-selected:hover{
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.3s ease-in-out;
    background-color:var(--button-primary-bg);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35); 
}

input{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "VT323", monospace;
    font-size: larger;
}

@media (max-width:768px){
    .sidenav{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 50vw;
    }

    .scrollPoke{
        flex-grow: 1;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .nav-button{
        font-size: 1rem;
    }
}

