@use '../../styles/variables.scss' as v;

*{
    box-sizing: border-box;
}

.sidenav{
    position: absolute;
    z-index: 100;
    background-color: #F0F0F0;
    top:0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    padding: 16px 8px;
    width: clamp(240px, 40vw, 560px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    font-family: v.$secondary-font;

    .sn-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 2px 8px;
        margin-bottom: 16px;
        margin-top: 8px;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-family: v.$primary-font;
    }

    input{
        border: 2.5px solid rgba(0, 0, 0, 0.18);
        width: 100%;
        border-radius: 12px;
        padding: 8px;
        font-size: inherit;
    }
}

.sn-list{
    overflow-y: auto;
    scrollbar-width: none;
    padding: 8px;
    height: 100%;

    .sn-button{
        margin: 12px 0px;
        padding: 12px 8px;
        display: flex;
        justify-content: start;
        gap: 16px;
        align-items: center;
        border-radius: 12px;
        width: 100%;
        background-color: rgb(249, 254, 254);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
        font-size: 1.1rem;
        font-family: v.$secondary-font;
        transition: all 0.2s ease-in;

        &:hover{
            transform: scale(1.01) translateY(-1px);
            transition: all 0.1s ease-in;
        }

        &:focus{
            transition: all 0.1s ease-in;
            border: 2px solid var(--button-primary-bg);
        }
    }

    .sn-button--selected{
        background-color: rgba(207, 207, 207, 1);
        font-family: v.$primary-font;
        transition: all 0.2s ease-in;
        transform: scale(1.01);
    }
}

body.sidenav-open{
    overflow: hidden;
    // position: fixed;

    .contentPane,.menu-top{
        pointer-events: none;
    }
}

/* .sidenav{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 10px;
    background-color: var(--menu-color);
    color: var(--pokemon-entry-color);
    transition: 0.3s ease-in-out background-color;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
}

.sidenav.hidden {
  display: none;
}

.scrollPoke{
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.nav-button{
    display: flex;
    gap: 35%;
    margin: 2px;
    border: 2px solid #000000;
    border-radius: 19px;
    font-weight: bolder;
    background-color: var(--background-color);
    font-family: "VT323", monospace;
    font-size: larger;
    color: var(--pokemon-entry-color);
}

.nav-button:hover{
    background-color: var(--button-primary-hover);
    border: 2px solid var(--button-primary-border);
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25); 
}

.nav-button-selected{
    display: flex;
    gap: 35%;
    margin: 2px;
    border: 2px solid var(--button-primary-border);   
    border-radius: 19px;
    font-weight: bolder;    
    background-color:var(--button-primary-bg);
    color: white;
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35); 
}

.nav-button-selected:hover{
    transform: scale(1.01) translateY(-1.6px);
    transition: all 0.3s ease-in-out;
    background-color:var(--button-primary-bg);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.35); 
}

input{
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "VT323", monospace;
    font-size: larger;
} */

/* @media (max-width:768px){
    .sidenav{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 50vw;
    }

    .scrollPoke{
        flex-grow: 1;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .nav-button{
        font-size: 1rem;
    }
} */

