$background-color:#ECECEC;
$menu-color: #77BFA3;
$secondary-bg-color:#98C9A3;

$button-primary-bg:#000000;
$button-primary-hover:#4b4a4a;
$button-primary-border:#e4e6fb;

$button-secondary-bg:#CFCFCF;
$button-secondary-hover:#ffb3b3;
$button-secondary-border:#000000;

$options-color: #F8F8F8;
$pokemon-entry-color:#2d3748;
$pokemon-entry-secondary-color:#4354e6;
$header-font-color:#F8F8F8;


$primary-font: 'Pixelify Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;