$primary-font: 'Pixelify Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: 'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

:root{ 
    --bg-color: #F5F5F7;
    --card-bg-color: #FFFFFF;
    --border-color: #C2C2C2;
    --font-color: #1A1A1A;
    --shadow-button: 1px 1px 15px rgba(0, 0, 0, 0.1);
    --shadow-card-small: 2px 2px 15px rgba(0, 0, 0, 0.1);
    --shadow-card-big: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

body.dark-mode{
    --bg-color: #212125;
    --card-bg-color: #1D1D21;
    --border-color: #313136;
    --font-color: #EBEBEB;
    --shadow-button: 1px 1px 15px rgba(0, 0, 0, 0.2);
    --shadow-card-small: 2px 2px 15px rgba(0, 0, 0, 0.2);
    --shadow-card-big: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
