@use "../../styles/variables.scss" as v;

.menu-container {
  font-family: v.$secondary-font;
  font-size: 1.5rem;

  .menu-trigger {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
  }

  .menu {
    position: fixed;
    width: 240px;
    background-color: var(--card-bg-color);
    border-radius: 16px;
    z-index: 99;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-shadow: var(--shadow-card-big);
    overflow: hidden;
    text-overflow: ellipsis;
    will-change: height, width, transform;

    .menu-top {
      position: absolute;
      z-index: 100;
      display: flex;
      align-items: center;
      gap: 1rem;
      top: 1rem;
      left: 1rem;

      div {
        font-weight: 600;
        white-space: nowrap;
        font-family: v.$primary-font;
      }
    }

    footer {
      font-size: 0.75rem;
      padding-top: 1rem;
      font-family: inherit;
      width: 100%;
      text-align: center;

      a {
        color: rgb(97, 97, 232);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .menu-nav {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: start;
      font-size: 1.5rem;

      button {
        font-family: inherit;
        font-size: inherit;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .menu-signout {
        color: red;
      }
    }
  }
}

.about-modal-content {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  width: clamp(300px, 60vw, 500px);
  background-color: var(--card-bg-color);
  color: var(--font-color);
  font-family: v.$secondary-font;
  border-radius: 24px;

  h2 {
    font-family: v.$primary-font;
    color: #f3d617;
    text-shadow:
      -2px -2px 0 #4370f4,
      2px -2px 0 #4370f4,
      -2px 2px 0 #4370f4,
      2px 2px 0 #4370f4;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;

    a {
      text-decoration: none;
      color: rgb(97, 97, 232);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .about-github-link {
    background-color: var(--font-color);
    color: var(--card-bg-color);
    padding: 0.5rem 1.2rem;
    font-size: 14px;
    text-decoration: none;
    box-shadow: var(--shadow-card);
    transition: transform 0.2s ease;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

    &:hover {
      transform: scale(1.02);
    }
  }
}

@media (min-width: 1024px) {
  .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1rem;

    .menu {
      align-items: flex-end;
      gap: 0.7rem;
      transform-origin: top right;
      max-width: 200px;

      .menu-nav {
        padding-top: 3.5rem;
        width: fit-content;
        gap: 1rem;
        align-items: end;
        font-size: 1rem;
      }

      footer {
        font-size: 0.7rem;
        a {
          color: rgb(97, 97, 232);
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .menu-top {
        left: auto;
        right: 1rem;
        flex-direction: row-reverse;
      }
    }
  }
}
