
@use '../../styles/variables.scss' as v;

.menu-container{
    position: relative;
    font-family: v.$secondary-font;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.menu-trigger{
    border: none;
    background:none;
    cursor: pointer;
}

.menu{
    position: absolute;

    width: 240px;
    background-color: #F0F0F0;
    border-radius: 16px;
    z-index: 99;
    padding: 1rem;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    transform-origin: top right;
}

.menu-nav {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;

    button {
        font-family: inherit;
        font-size: inherit;
    }
}

.menu-signout {
    color: #C20A0A;
    font-size: inherit;
}

footer {
    font-size: 0.75rem;
    opacity: 0.7;
    padding-top: 1rem;
    font-family: inherit;
    width: 100% ;
    text-align: center;
}

.menu-top{
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 1rem;
    top: -16px;

    p{
        transition: 0.5s ease-in all;
    }
}