
@use '../../styles/variables.scss' as v;

.menu-container{
    position: relative;
    font-family: v.$secondary-font;
    font-size: 1.5rem;
}

.menu-trigger{
    border: none;
    background:none;
    cursor: pointer;
    position: relative;
}

.menu{
    position: absolute;
    width: 240px;
    background-color: #F0F0F0;
    border-radius: 16px;
    z-index: 99;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    transform-origin: top left;
}

.menu-nav {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;

    button {
        font-family: inherit;
        font-size: inherit;
    }
}

.menu-signout {
    color: #C20A0A;
    font-size: inherit;
}

footer {
    font-size: 0.75rem;
    opacity: 0.7;
    padding-top: 1rem;
    font-family: inherit;
    width: 100% ;
    text-align: center;
}

.menu-top{
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 1rem;
    top: -16px;

    div{
        font-weight: 500;
    }
}

@media (min-width: 1024px) {
    .menu-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1rem;
    }
    
    .menu-top{
        position: absolute;
        direction: rtl;
        
    }

    .menu{
        align-items: end;
        gap: 0.7rem;
        transform-origin: top right;
        max-width: 200px;

        footer{
            font-size: 0.7rem;
        }
    }

    .menu-nav{
        padding-top: 3.5rem;
    }

}