.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

.moveModal {
  z-index: 1000;
  will-change: transform, opacity;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.pokeballIcon {
  width: 100px;
  position: absolute;
  top: 60%;
  left: 75%;
  animation: rotate-and-scale 0.5s ease-in-out;
}

@keyframes rotate-and-scale {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.5) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .pokeballIcon {
    width: 80px;
  }
}

@media (max-width: 450px) {
  .pokeballIcon {
    width: 70px;
  }
}
