.viewPalette{
    padding: 0;
    margin: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
    min-height: 600px;
}

.paletteBarContainer{
    display: flex;
    height: inherit;
    width: 100%;
}

.paletteBar{
   flex: 1;
   padding: 0;
   margin: 0;
}



.paletteSprite{
    display: block;
    max-height: auto;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.colorCopyBtn{
    border: none;
    background:rgb(0,0,0, 0);
    font-family:"VT323", monospace;
    color: rgb(0,0,0, 0);
    font-size: large;
    margin-top: 20px;
    font-weight:400;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align:center;
    font-weight: bold;
    vertical-align: top;
}

.colorCopyBtn:hover{
    color: white;
}

