@use '../../styles/variables.scss' as v;

.paletteBar{
    // flex-grow: 1;
    font-family: v.$secondary-font;
    letter-spacing: 0.02em;
    min-height: 0;
    display: flex;
    align-items: center;
}

.colorCopyBtn{
    color: inherit;
    display: flex;
    align-items:center; 
    justify-content: space-between;
    padding: 16px;
    border: none;
    background:rgb(0,0,0, 0);
    font-size:1rem;
    // height: 100%;
    cursor: pointer;
    font-weight: 500;
    opacity: 1;
    transition: ease-in 0.1s all;
    overflow: hidden;
    width: 100%;

    p{
        margin: 0;
        padding: 0;
    }

    button{
        border: none;
        background: none;
        margin: 0px 10px;
        color: inherit;
        opacity: 0.8;

        .material-symbols-rounded {
            font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24
        }

    }
}

// .colorCopyBtn:hover{
//     opacity: 1;
// }




.color-options:hover{
    transform: scale(1.2);
    transition: all 0.1s ease-in;
}


/* using ::after psuedo-element to add more clarity to the locked swatch for the user by adding an indicative bar at the bottom */
.paletteBar.is-locked {
  position: relative;
}

.paletteBar.is-locked::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: var(--options-color);
  opacity: 0.5;
}

.shadesContainer{
    display: flex;
    flex-direction: column;
    width: clamp(250px, 50vw, 500px);
    height: clamp(600px, 70vh, 900px );
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.1);
    font-family: v.$secondary-font;

    button{
        margin: 0;
        border: none;
        padding: 0px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem;
        font-family: inherit;
        font-weight: 500;

        .originalMarker{
            span{
                height: 8px;
                width: 8px;
                border-radius: 100%;
                display: block;
            }
        }
    }
}

// .shadesContainer button, .shadesContainer p{
//     margin: 0;
//     border: none;
//     padding: 0;
// }

.shade{
    flex-grow: 1;
}

// .colorString{
//     opacity: 0;
// }

// .colorString:hover{
//     opacity: 1;
// }

.closeShades{
    background: none;
    font-size: 1.5rem;
    padding: 5px;
}

@media (min-width: 1024px){
    .colorCopyBtn{
        padding: 8px 16px;
    }
}