.paletteModalContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
    opacity: 0;
    pointer-events: none;
}

.paletteModalContainer.open {
  animation: fadeIn 0.3s forwards;
  pointer-events: auto;
}

.paletteModal {
  box-sizing: border-box;
  width: 100%;
  max-width: 950px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  transform: scale(0.8);
  opacity: 0;
  z-index: 100;
  font-size: larger;
  border-radius: 15px;  
  padding: 0;
  box-sizing: border-box;
}

.paletteModalContainer.open .paletteModal {
  animation: scaleIn 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.palette-modal-underlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.palettemodal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

@media (max-width:768px){
  .paletteModal{
    width: 300px;
    height: 400px;
    overflow: hidden;
  }
}
