@use "../../styles/variables.scss" as v;

.paletteBar {
  font-family: v.$secondary-font;
  letter-spacing: 0.02em;
  min-height: 0;
  display: flex;
  align-items: center;
}

.colorSwatch {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: none;
  font-size: 1rem;
  // height: 100%;
  cursor: pointer;
  font-weight: 500;
  opacity: 1;
  transition: ease-in 0.1s all;
  overflow: hidden;
  width: 100%;

  p {
    margin: 0;
    padding: 0;
  }

  .paletteBar-actions {
    display: flex;
    gap: 1.5rem;

    button {
      border: none;
      background: none;
      color: inherit;
      opacity: 0.8;
      padding: 10px;
      margin: -10px;

      &:hover {
        transform: scale(1.2);
        transition: all 0.1s ease-in;
        opacity: 1;
      }

      .material-symbols-rounded {
        font-variation-settings:
          "FILL" 0,
          "wght" 200,
          "GRAD" 0,
          "opsz" 24;
      }
    }
  }
}

.colorValue {
  font-family: inherit;
  font-size: inherit;
  opacity: 1;
  border: none;
  background: none;
  color: inherit;
  opacity: 0.85;
  padding: 10px;
  margin: -10px;
  border-radius: 8px;
  font-weight: 600;

  &:hover {
    opacity: 1;
    background-color: rgba(181, 181, 181, 0.25);
    transition: all 0.18s ease-in;
  }
}

/* using ::after psuedo-element to add more clarity to the locked swatch for the user by adding an indicative bar at the bottom */
.paletteBar.is-locked {
  position: relative;
}

.paletteBar.is-locked::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: var(--bg-color);
  opacity: 0.5;
}

.shadesContainer {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 50vw, 500px);
  height: clamp(600px, 70vh, 900px);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: var(--shadow-card-big);
  font-family: v.$secondary-font;

  button {
    margin: 0;
    border: none;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-family: inherit;
    font-weight: 500;

    .originalMarker {
      span {
        height: 8px;
        width: 8px;
        border-radius: 100%;
        display: block;
      }
    }
  }
}

.shade {
  flex-grow: 1;
}

.closeShades {
  background: none;
  font-size: 1.5rem;
  padding: 5px;
}

@media (min-width: 1024px) {
  .colorSwatch {
    padding: 8px 16px;
  }
}
