@use '../../styles/variables.scss' as v;

.savedPaletteWindow{
    display: flex;
    flex-direction: column;
    height: clamp(500px, 80vh, 900px);
    width: 100%;
    position: absolute;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 24px;
    // padding-bottom: 24px;
    left: 0;
    top: 10%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    font-family: v.$secondary-font;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15);  


    input{
        height: 48px;
        border-radius: 16px;
        border: 2px solid rgba(0, 0, 0, 0.25);
        padding: 8px;
        background: transparent;
        font-size: 1rem;
        letter-spacing: 0.1em;
        margin: 4px 24px;
    }
}

.savedPaletteContainer{
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.savedPaletteHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: v.$primary-font;
    position: relative;
    /* Library */
    font-weight: 500;
    font-size: 1rem;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000000;

    button{
        padding: 0;
        margin:0;
        background: none;
        position: absolute;
        border: none;
        right: 16px;
        top: 16px;
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: -10px;
    }
}


.savedPaletteHeader h1{
    margin: 0;
    padding: 0;
}

.guestPaletteWindow{
    flex-grow: 1;
}

.frame{
    color: white;
    backdrop-filter: blur(5px);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#FFFFFF,#3c3c3c);
}

.savedPalettesPane{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 8px;
    overflow-y: auto;
}

.noPalettesSaved{
    margin-top: 48px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.1rem;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;

    p{
        opacity: 0.8;
    }
  
    svg{
        // position: absolute;
        // bottom: -28%;
        // left: -28%;
        width: 200px;
        fill: none;
        stroke: #000000;
        opacity: 0.25;
        stroke-width: 0.5;
        transform: rotate(45deg);
        margin-top: 64px;
    }
}
