.paletteCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    overflow: hidden;
    border-radius: 20px;
    padding: 8px;
}

.paletteCard button{
    border: none;
    background: none;
    font-size: 1.1rem;
}

.paletteCard button:hover{
    opacity: 0.5;
    transition: 0.2s ease-in opacity;
}

.palette-color-stripes{
    display: flex;
    overflow: hidden;
    height: 80px;
    width: 100%;
    min-width: 0;
    border-radius: 12px;
}

.savedColorStripe{
    flex: 1;
    padding: 0;
    margin: 0;
    min-width: 0;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
    height: 100%;
}

.palette-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.palette-content p{
    margin: 8px;
    font-size: 1.4rem;
}

.saved-palette-options{
    display: flex;
    gap: 16px;
}

.palette-sprites-container{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.palette-sprites-container img{
    width: 64px;
    height: auto;
}