@use '../../styles/variables.scss' as v;

.paletteCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.31);
    overflow: hidden;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    font-family: v.$secondary-font;
} 

.plc-delete{
    background-color: #F0F0F0;
    border-radius: 16px;
    display: flex;
    padding: clamp(2rem, 5vw, 2.5rem);
    flex-direction: column;
    align-items: center;
    // width: 330px;
    width:min-content;
    gap: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    font-family: v.$secondary-font;
    font-size: 1.1rem;

    span{
        display: flex;
        gap: 1rem;
        align-items: center;

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #cecdcd;
            border-radius: 12px;
            border: none;
            color: rgb(0, 0, 0);
            min-height: 50px;
            min-width: 110px;
            font-size: 1.1rem;
            font-family: v.$secondary-font;
            box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.1);
            margin-top: 24px;

            
        }

        .plc-delete--btn{
            color: rgb(107, 0, 0);
            background-color: rgb(226, 202, 202);
        }
    }

    h1{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-family: v.$primary-font;
        letter-spacing: 1px;
        font-weight:600;
        margin-bottom: 32px;
    }

    p{
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.paletteCard button{
    border: none;
    background: none;
    font-size: 1.1rem;
}

.paletteCard button:hover{
    opacity: 0.5;
    transition: 0.2s ease-in opacity;
}

.palette-color-stripes{
    display: flex;
    overflow: hidden;
    height: 80px;
    width: 100%;
    min-width: 0;
    border-radius: 12px;
}

.savedColorStripe{
    flex: 1;
    padding: 0;
    margin: 0;
    min-width: 0;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
    height: 100%;
}

.palette-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    span{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        form{
            display: flex;
            justify-content: start;
            padding: 0;
            margin: 0;

            input{  
                width: 60%;
                height: 32px;
                margin: 2px 0;
                border: none;
                font-family: inherit;
                font-size: inherit;
                font-weight: 600;
                outline: none;
                appearance: none;
                -webkit-appearance: none;
                border-bottom: 2px solid #CCC;
                border-radius: 0;
                transition: border-color 0.3s ease;

                &:focus{
                    border-bottom-color: #000000;
                }
            }

            button{
                padding: 0;
                margin:0;
                display: inline;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                margin: -10px;
                margin-left: 2px;
            }
        }
    }
}

.palette-content p{
    margin: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.saved-palette-options{
    display: flex;
    gap: 16px;

    button{
        padding: 0;
        margin:0;
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: -10px;

        .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 24
        }
    }
}

.palette-sprites-container{
    display: flex;
    justify-content: start;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 8px;
    width: 100%;
    height: 50px;

    img{
        transform: scale(1.05);
        padding: 0;
        margin: 0;
        height: 100%;
    }
}

@media (min-width:1024px){
    .palette-color-stripes{
        height: 50px;
    }

    .palette-sprites-container{
        height: 35px;
        img{
            transform: scale(1);
        }
    }

    .saved-palette-options{
    display: flex;
    gap: 16px;

    button{
        padding: 0;
        margin:0;
        display: inline;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: -10px;

        .material-symbols-rounded {
        font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 16
        }
    }
}
}