.savedPaletteWindow{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    background-color: rgba(239, 239, 239, 1);
}

.savedPaletteContainer{
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.savedPaletteHeader{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.savedPaletteHeader input{
    height: 40px;
    width: 300px;
    flex-shrink: 0;
    font-weight: lighter;
    border: 3px solid;
}

.savedPaletteHeader h1{
    margin: 0;
    padding: 0;
}

.guestPaletteWindow{
    flex-grow: 1;
}

.frame{
    color: white;
    backdrop-filter: blur(5px);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#FFFFFF,#3c3c3c);
}

.savedPalettesPane{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 10px;

}

.noPalettesSaved{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}