.tooltip{
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  z-index: 100;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 12px;
  width: 220px;  
  color: var(--font-color);
  background-color: var(--card-bg-color);
  position: absolute;
  left:50%;
  top: 2%;
  transition: 0.2 ease-in all;
  animation: scaleIn 0.2s forwards;
  margin-left: -110px;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}