.viewPalette{
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    min-height: 600px;
    width: 100%;
}

.paletteBarContainer{
    display: flex;
    height: inherit;
    width: 100%;
    min-width: 0;
}

.paletteBar{
    flex: 1;
    padding: 0;
    margin: 0;
    min-width: 0;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
}



.paletteSprite{
    display: block;
    max-height: auto;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.colorCopyBtn{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: start;
    border: none;
    background:rgb(0,0,0, 0);
    font-family:"VT323", monospace;
    color: rgb(0,0,0, 0);
    font-size:20px;
    margin-top: 20px;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    opacity: 0;
    transition: ease-in 0.1s all;
}

.colorCopyBtn:hover{
    opacity: 1;
}

.colorCopyBtn button{
    border: none;
    background: none;
    font-size: inherit;
    margin: 10px;
    color: inherit;
}

@media (max-width:768px){

    .viewPalette{
        height: 200px;
        flex-direction: column;
        border: 0 0 15px 15px;
        overflow: hidden;
    }
    .paletteBarContainer{
        flex-direction: column;
        height: auto;
        width: 100%;
        border-radius: 0;
        overflow: hidden;
    }

    .paletteBar{
        flex:auto;
        height: 67px;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    .paletteSprite{
        width: 190px;
    }

    .colorCopyBtn{
        flex-direction: row;
        gap: 12px;
        width: 100%;
    }
}
