/* .App{
    display: flex;
    overflow: hidden;
    scrollbar-width: none;
    flex-direction: column;
    height: 100vh;
    background-color: var(--header-color);
}

.contentPane{
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
} */

/* @media (max-width:768px) {
    .App{
        display: flex;
        flex-direction: column;
    }

    .contentPane{
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    
} */
