.App{
    display: flex;
    overflow: hidden;
    scrollbar-width: none;
}

.sidePane{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    position: relative;
}

@media (max-width:768px) {
    .App{
        display: flex;
        flex-direction: column;
    }

    .sidePane{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 999;
    }
    
}
