:root{
    --background-color:#fefdfb;
    --menu-color:rgba(255, 255, 139, 0.925);
    --secondary-bg-color:#f8f6f2;

    --button-primary-bg: #4354e6;
    --button-primary-hover:#b1b8f9;
    --button-primary-border:#d4d8fb;

    --button-secondary-bg:#CC0000;
    --button-secondary-hover:#ffb3b3;
    --button-secondary-border:#f96e6e;

    --options-color: #000000;
    --pokemon-entry-color:#2d3748;
    --pokemon-entry-secondary-color:#4354e6;
    
}

body{
    transition: background 0.1 ease-in-out;
    height: 100%;
}

body.darkmode{
    --background-color:#2a2a2b;
    --menu-color:#404040;
    --secondary-bg-color:#3a3a3c;

    --button-primary-bg: #CC0000;
    --button-primary-hover:#f16d6d86;
    --button-primary-border:#f96e6e;

    --button-secondary-bg:#4354e6;
    --button-secondary-hover:#b1b8f9;
    --button-secondary-border:#7a87f9;
    
    --options-color: #ffffff;
    --pokemon-entry-color:#e2e8f0;
    --pokemon-entry-secondary-color:#abb0ff;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family:'VT323',monospace;
}

button{
    cursor: pointer;
}
