@use '../../styles/variables.scss' as v;

.auth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: clamp(320px, 15vw, 450px);
    height: clamp(600px, 15vw, 720px);
    padding: clamp(1rem, 3vw, 2rem);
    font-family: v.$secondary-font;
}

.auth-form{
    background-color: #F0F0F0;
    border-radius: 16px;
    display: flex;
    padding: clamp(2rem, 5vw, 2.5rem);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

    h1{
        margin: 0;
        padding: 0;
        font-size: 2rem;
        color: #FCFF5F;
        text-shadow:
        -2px -2px 0 #1E3A9F,
        2px -2px 0 #1E3A9F,
        -2px  2px 0 #1E3A9F,
        2px  2px 0 #1E3A9F;
        font-family: v.$primary-font;
    }
}

.auth-mode--toggle{
    height: clamp(2.2rem, 5vw, 3.2rem);
    width: 250px;
    display: flex;
    align-items: center;
    background-color: rgb(249, 254, 254);
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.1);

    label{
        display: flex;
        justify-content: center;
        flex:1;
        background: transparent;
        z-index: 2;
        transition: 0.3s all ease-in;
    }

    input{
        opacity: 0;
    }

    .auth-mode--indicator{
        background: rgba(207, 207, 207, 1);
        height: 100%;
        width: 50%;
        position: absolute;
        border-radius: 12px;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.15);
    }
}

/* .Loginform{
    width: 400px;
    background-color: var(--background-color);
    border-radius: 20px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.Loginform h1{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: #FCFF5F;
    text-shadow:
    -3px -3px 0 #1E3A9F,
     3px -3px 0 #1E3A9F,
    -3px  3px 0 #1E3A9F,
     3px  3px 0 #1E3A9F;
}

.Loginform h4{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0, 0.8);
    font-weight: lighter;
    font-size: 1rem;
}

.Loginform button{
    font-family: 'VT323';
    background-color: var(--button-secondary-bg);
    color: white;
    font-size: 1.5rem;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
}

.Loginform button:hover{
    transition: all 0.2s ease-in;
    background-color: var(--button-primary-bg);
    transform: scale(1.01) translateY(-1px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.Loginform label{
    display: block;
    margin-bottom: 5px;
    height: auto;
    width: 200px;
}

.Loginform input{
    border: 2px solid rgba(0,0,0, 0.7);
    font-weight: lighter;
    font-size: 1.3rem;
    padding: 5px 10px;
    outline: none;
}

.Loginform input:focus{
    transition: all 0.1s ease-in;
    transform: scale(1.01);
    border: 2px solid var(--button-primary-bg);
}


.fa-caret-right{
    vertical-align: -2.5px;
}

.error{
    color: red;
    font-size: 1rem;
} */